.title{
	font-family: arial;
	font-size: 20px;
	color: white;
}
.titleHome{
	font-family: arial;
	font-size: 25px;
	color: white;
}
.textHome{
	padding-left: 10px;
	font-family: arial;
	font-size: 20px;
	color: white;
}
.textEditor{
	margin-top: 0px;
	font-family: arial;
	font-size: 20px;
	color: white;
	padding-left: 10px;
}
.link{
	text-decoration: none;
	font-size: 15px;
	color: white;
	font-family: arial;
}
.source{
	font-family: arial;
	color: white;
}
.textForm{
	padding-left: 10px;
	font-family: arial;
	font-size: 25px;
	color: white;
}
#roundedInput{
	border-radius: 10px;
	width:50%;
	padding: 10px;
}
#roundedEmail{
	border-radius: 10px;
	width:50%;
	padding: 10px;
}
#buttonInput{
	appearance: none;
	-webkit-appearance: none;
	padding: 10px;
	border:none;
	border-radius: 5px;
	font-weight: 600;
	width: 50%;
	background-color: #ff0000;
	color: #fff;
	font-size: 20px;

}
body{
	box-sizing: border-box;
}
ul{
	margin: 0px;
	padding: 0px;
}

ul li{

	list-style: none;
	padding-top: 20px;
}

ul li a{
	text-decoration: none;
	font-size: 15px;
	color: white;
	font-family: arial;
}
footer{
	padding-top: 300px;
}
a:hover{
	background-color: #ff0000;
}